@use "../abstracts" as *;
@use "../tools" as *;

.c-button {
  @include cormorantUpright();
  cursor: pointer;
  background-color: var(--clr-primary-500);
  color: var(--clr-grayscale-100);
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 0.25em 0.75em;
  font-size: 1.5rem;
  min-width: 20ch;
  min-height: 44px;
  transition: $button;

  &:hover,
  &:focus-within {
    transition: $button;
    background-color: var(--clr-secondary-500);
  }

  &:active {
    background-color: var(--clr-secondary-700);
  }
}
