.error {
  /* border: 1px solid red; */
  background-color: rgb(178, 137, 77);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 1080px;
  gap: 20px;
}
.error h2 {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  font-size: 36px;
  text-wrap: nowrap;
  width: 100%;
  height: 100%;
}
.error p {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  font-size: 12px;
  text-wrap: nowrap;
  width: 100%;
  height: 100%;
}
