.button {
  border: 1px solid rgb(255, 255, 248);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: rgb(255, 255, 248);
  font-size: 12px;
  width: 150px;
  height: 30px;
  transition: all 700ms;
}
.button:hover {
  background-color: rgb(255, 255, 248);
  color: rgb(40, 42, 44);
  transition: all 700ms;
}
